<section class="aboutMeContainer" id="sobremim">
    <section class="aboutMeTitle">
        <h1>Sobre mim</h1>
    </section>
    <section class="aboutMeContent">
        <section class="aboutMePicture">
            <img src="./images/profilePicture.jpg" width="300px" height="300px"/>
        </section>
        <section class="aboutMeText">
            <h1>Formação e habilidades</h1>
            <p>Atualmente cursando o 4º semestre de Análise e Desenvolvimento de Sistemas, 
                venho desenvolvendo habilidades técnicas e teóricas nas principais áreas da tecnologia. 
                Tenho experiência prática com HTML, CSS, SCSS, JavaScript e TypeScript, além de trabalhar 
                com Angular no desenvolvimento de interfaces modernas e responsivas. Utilizo Git e GitHub 
                para controle de versão e colaboração em projetos, seguindo princípios de metodologias ágeis.
            </p>
        </section>
    </section>
</section>
