<section class="aboutMeContainer">
    <section class="aboutMeTitle">
        <h1>Sobre mim</h1>
    </section>
    <section class="aboutMeContent">
        <section class="aboutMePicture">
            <img src="/images/profilePicture.jpg" width="300px" height="300px"/>
        </section>
        <section class="aboutMeText">
            <h1>Lorem ipsum</h1>
            <p>Atualmente cursando o 4º semestre de Análise e Desenvolvimento de Sistemas, 
                venho desenvolvendo habilidades técnicas e teóricas nas principais áreas da tecnologia. 
                Tenho experiência prática com HTML, CSS, SCSS, JavaScript e TypeScript, além de trabalhar 
                com Angular no desenvolvimento de interfaces modernas e responsivas. Utilizo Git e GitHub 
                para controle de versão e colaboração em projetos, seguindo princípios de metodologias ágeis.
            </p>
        </section>
    </section>
</section>
<!-- https://cdn.prod.website-files.com/60eef47badf1d4a8874fc287/61bddfcd9b88c70927e7d2af_jPEQIehsLaDEan_QyqUB7FFV4FGodAW2Iba3JGsvElui_ez4-UqXbDk2M6df4jyYjktREafT6QsH9h8qHhX3vU2gCrAVz6hmyGx73EbaP64d_mXelre4xyIiRYzszFb802Yzo6GU.png -->
<!-- https://repository-images.githubusercontent.com/499601111/8432f909-f64b-4d7b-a358-153dd6ff47f9 -->