<section class="aboutMeContent">
    <section class="aboutMeText">
        <h1>Sobre mim</h1>
        <p>Lorem impum Lorem impum Lorem impum Lorem impumLorem impum</p>
    </section>
    <section class="aboutMePicture">
        <img src="../../images/profilePicture.jpg" alt="" width="150px" height="150px"/>
    </section>
</section>
<!-- https://cdn.prod.website-files.com/60eef47badf1d4a8874fc287/61bddfcd9b88c70927e7d2af_jPEQIehsLaDEan_QyqUB7FFV4FGodAW2Iba3JGsvElui_ez4-UqXbDk2M6df4jyYjktREafT6QsH9h8qHhX3vU2gCrAVz6hmyGx73EbaP64d_mXelre4xyIiRYzszFb802Yzo6GU.png -->
<!-- https://repository-images.githubusercontent.com/499601111/8432f909-f64b-4d7b-a358-153dd6ff47f9 -->