<section class="projectsContainer">
    <section class="projectsTitle">
        <h1>Projetos</h1>
        <p>Criados com o intuito de por em prática conceitos estudados</p>
    </section>
    <section class="projectsContent">
        <section class="projects">
            <section class="project">
                <section class="projectImage">
                    <img src="/images/MovieInfoImage.png" width="250px" height="150px" alt="oi"/>
                </section>
                <section class="projectDescription">
                    <figcaption>(Consumo de API) Site para obter informações de filmes e séries, utilizando Angular / OMDb API. (Finalizado)</figcaption>
                    <section class="projectLinks">
                        <a href="https://github.com/FellypeSouza/MovieInfo-OMDb-API" target="_blank">Repositório</a>
                        <a href="https://fellypesouza.github.io/MovieInfo-OMDb-API/" target="_blank">Website</a>
                    </section>
                </section>
            </section>
            <section class="project">
                <section class="projectImage">
                    <img src="/images/conversorMoedasImage.png" width="250px" height="150px" alt="oi"/>
                </section>
                <section class="projectDescription">
                    <figcaption>(Consumo de API) Site para realizar conversões de moedas, utilizando Angular / ExchangeRate API. (Finalizado)</figcaption>
                    <section class="projectLinks">
                        <a href="https://github.com/FellypeSouza/Conversao-de-Moedas" target="_blank">Repositório</a>
                        <a href="https://fellypesouza.github.io/Conversao-de-Moedas/" target="_blank">Website</a>
                    </section>
                </section>
            </section>
            <section class="project">
                <section class="projectImage">
                    <img src="/images/VelocimetroDigitalImage.png" width="250px" height="150px" alt="oi"/>
                </section>
                <section class="projectDescription">
                    <figcaption>(Geolocalização) Captar a localização do usuário em tempo real e calcular sua velocidade com base no deslocamento. (Finalizado)</figcaption>
                    <section class="projectLinks">
                        <a href="https://github.com/FellypeSouza/Velocimetro-Digital" target="_blank">Repositório</a>
                        <a href="https://fellypesouza.github.io/Velocimetro-Digital/" target="_blank">Website</a>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>