<section class="projectsContainer">
    <section class="projectsTitle">
        <h1>Projetos</h1>
        <p>Criados com o intuito de por em prática conceitos estudados</p>
    </section>
    <section class="projectsContent">
        <section class="projects">
            <section class="project">
                <section class="projectImage">
                    <img src="/images/project_1.png" width="250px" height="150px" alt="oi"/>
                </section>
                <section class="projectDescription">
                    <figcaption>(Consumo de API) Site para obter informações de filmes e séries, utilizando Angular / OMDb API.</figcaption>
                    <section class="projectLinks">
                        <a href="https://github.com/FellypeSouza/MovieInfo-OMDb-API" target="_blank">Repositório</a>
                        <a href="https://github.com/FellypeSouza/MovieInfo-OMDb-API" target="_blank">Website</a>
                    </section>
                </section>
            </section>
            <section class="project">
                <section class="projectImage">
                    <img src="/images/project_1.png" width="250px" height="150px" alt="oi"/>
                </section>
                <section class="projectDescription">
                    <figcaption>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumdasdasd</figcaption>
                </section>
            </section>
            <section class="project">
                <section class="projectImage">
                    <img src="/images/project_1.png" width="250px" height="150px" alt="oi"/>
                </section>
                <section class="projectDescription">
                    <figcaption>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumdasdasd</figcaption>
                </section>
            </section>
        </section>
    </section>
</section>