.contactsContainer{
    max-width: 48vw;
    margin: auto;
    text-align: center;
    margin-top: 20rem;
    color: #fff;
    .contacts{
        margin-top: 2rem;
        a{
            margin: 1rem;
        }
    }
}