.headLineContainer{
    max-width: 48vw;
    margin: auto;
    color: #fff;
    text-align: center;
    margin-top: 20rem;
    
    h1{
        font-size: 3rem;
    }
    h3{
        color: #e4e4e4;
    }
    a{
        margin: 1rem;
    }
}