@import "./Nav.scss";
@import "./About.scss";
@import "./Contact.scss";
@import "./Info.scss";
@import "./HeadLine.scss";
@import "../App.scss";

@media(max-width:1660px){
    .infoContainer{
        .info{
            flex-direction: column-reverse;
            .infoDescription{
                hr{
                    display: none;
                }
                h1{
                    text-align: center;
                }
                h3{
                    text-align: left;
                }
            }
        }
    }
    .btnContact{
        text-align: center;
    }
}
@media(max-width:1280px){
    .pImage{
        width: 500px;
        
    }
    .websites, .landingPages, .webApps{
        text-align: center;
    }
}
@media(max-width:825px) {
    .pImage{
        width: 350px;
    }
}
@media(max-width:700px) {
    .headLineContainer{
        max-width: 88vw;
        margin: auto;
        margin-top: 20rem;
        h1{
            font-size: 1.25rem;
        }
        h3{
            font-size: 1rem;
        }
        
    }
    .aboutContainer{
        max-width: 88vw;
        
        margin-top: 25rem;
        .aboutContent{
            line-height: 2rem;
            
        }
        h1{
            font-size: 1rem;
        }
       
    }
    .infoContainer{
        max-width: 88vw;
        .infoDescription{
            max-width: 88vw;
        }
        .info{
            text-align: center; 
            img{
                width: 125px;
            }
        }
    }
    .portfolioContainer{
        max-width: 88vw;
        margin: auto;
        color: #fff;
        margin-top: 25rem;

        img{
            width: 250px;
        }
        
        .pItem{
            margin: 0.30rem;
            
        }
        .landingPages{
            margin-top: 5rem;
        }
        .webApps{
            margin-top: 5rem;
        }
    }
}
@media(max-width:630px) {
    .pImage{
        width: 250px;
    }
    .navContainer{
        justify-content: space-between;
        nav{
            a{
                margin: 0.50rem;
            }
        }
    }
}
@media(max-width:430px) {
    .pImage{
        width: 125px;
    }
}
@media(max-width:375px){
    .headLineContainer{
        max-width: 88vw;
        margin: auto;
        margin-top: 10rem;
        h1{
            font-size: 1.25rem;
        }
        h3{
            font-size: 1rem;
        }
        
    }
    .aboutContainer{
        max-width: 88vw;
        
        margin-top: 25rem;
        .aboutContent{
            line-height: 2rem;
            
        }
        h1{
            font-size: 1rem;
        }
       
    }
    .infoContainer{
        max-width: 88vw;
        .infoDescription{
            max-width: 88vw;
        }
        .info{
            text-align: center; 
            img{
                width: 125px;
            }
        }
    }
    .portfolioContainer{
        max-width: 88vw;
        margin: auto;
        color: #fff;
        margin-top: 25rem;

        img{
            width: 250px;
        }
        
        .pItem{
            margin: 0.30rem;
            
        }
        .landingPages{
            margin-top: 5rem;
        }
        .webApps{
            margin-top: 5rem;
        }
    }
}