.navContainer{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    color: #fff;
    background-color: #0000001c;
    padding: 0.50rem;
    nav{
        a{
            margin: 2rem;
        }
        a:hover{
            transition: all 250ms;
            color: #7cb1cc;
        }
        a:not(:hover){
            transition: all 250ms;
        }
    }
}
