.portfolioContainer{
    max-width: 64vw;
    margin: auto;
    color: #fff;
    margin-top: 25rem;
    
    .pItem{
        margin: 0.30rem;
        
    }
    .landingPages{
        margin-top: 5rem;
    }
    .webApps{
        margin-top: 5rem;
    }
}