<main>
    <!-- Barra de navegação -->
     <section>
         <app-nav></app-nav>
    </section>

    <!-- Header -->
     <section>
         <app-header></app-header>
    </section>

    <!-- Sobre mim -->
     <section>
         <app-about-me></app-about-me>
     </section>

     <!-- Experiência -->
     <section>
        <app-experience></app-experience>
     </section>

     <!-- Projetos -->
     <section>
        <app-projects></app-projects>
     </section>

     <!-- Contatos -->
      <app-contacts></app-contacts>

     <!-- Footer -->
</main>
<router-outlet />
