<header>
    <section class="headerTitles">
        <p>Desenvolvedor Frontend</p>
        <h1>Fellype Souza</h1>
        <p>Navegue para baixo para saber mais sobre meus <b class="specialText">projetos</b> e <b class="specialText">habilidades</b></p>
    </section>
    <section class="headerIcons">
        <img src="https://skillicons.dev/icons?i=html" width="40px"/>
        <img src="https://skillicons.dev/icons?i=css" width="40px"/>
        <img src="https://skillicons.dev/icons?i=js" width="40px"/>
        <img src="https://skillicons.dev/icons?i=ts" width="40px"/>
        <img src="https://skillicons.dev/icons?i=scss" width="40px"/>
        <img src="https://skillicons.dev/icons?i=angular" width="40px"/>
        <img src="https://skillicons.dev/icons?i=cs" width="40px"/>
        <img src="https://skillicons.dev/icons?i=git" width="40px"/>
        <img src="https://skillicons.dev/icons?i=github" width="40px"/>
    </section>
    <section class="headerButtons">
        <a href="https://www.linkedin.com/in/fellype-souza-32a083261/" target="_blank"><button class="headerBtn">Linkedin</button></a>
        <a href="https://github.com/FellypeSouza" target="_blank"><button class="headerBtn">Github</button></a>
        <a href="https://leetcode.com/u/FellypeSouza/" target="_blank"><button class="headerBtn">LeetCode</button></a>
        <a href="https://www.codewars.com/users/fellypessouza" target="_blank"><button class="headerBtn">CodeWars</button></a>
    </section>
</header>