<section class="experienceContainer" id="experiencia">
    <section class="experienceTitle">
        <h1>Experiência</h1>
    </section>
    <section class="experienceContent">
        <p>Embora ainda não tenha experiência profissional na área, 
            venho desenvolvendo projetos acadêmicos e pessoais que me 
            proporcionam contato prático com o desenvolvimento de sistemas. 
            Ao longo do curso de Análise e Desenvolvimento de Sistemas, participei 
            de atividades que envolveram:
        </p>
        <section class="downloadCv">
            <a href="/public/arquivos/Fellype Meira Souza.docx" download><button>Baixar currículo</button></a>
        </section>
    </section>
</section>