.experienceContainer{
    color: #fff;
    margin-top: 15rem;
    .experienceTitle{
        text-align: center;
        font-size: 2.5rem;
    }   
    .experienceContent{
        max-width: 750px;
        margin: auto;
        margin-top: 2rem;
        .downloadCv{
            margin-top: 1rem;
            text-align: center;
            button{
                padding: 1rem;
                border: none;
                border-radius: 50px;
                background-color: rgb(40, 133, 255);
                color: #fff;
                cursor: pointer;
            }
            button:hover{
                background-color: rgb(92, 160, 250);
                transition: all 250ms;
            }
            button:not(:hover){
                transition: all 250ms;
            }
        }
    }
}