body{
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);
}
.emphasis{
    color: #7cb1cc;
}
.btnContainer{
    display: flex;
    justify-content: center;
}
.btnContact{
    padding: 1.25rem;
    border-radius: 50px;
    border: none;
    background-color: #7cb1cc;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    
}
.btnContact:hover{
    background-color: #9ddeff;
    transition: all 250ms;
}
.btnContact:not(:hover){
    transition: all 250ms;
}