*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    background-color: #050505;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}