$navTextColor:#fff;
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    max-width: 1000px;
    margin: auto;
    .navTitle{
        h1{
            color: $navTextColor;
        }
    }
    .navLinks{
        ul{
            display: flex;
            a{
                margin: 0 1.50rem 0 0;
                color: $navTextColor;
                font-size: 0.85rem;
            }
            a:hover{
                color: grey;
                transition: all 250ms;
            }
            a:not(:hover){
                transition: all 250ms;
            }
        }
    }
}