$navTextColor:#fff;
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    max-width: 100vw;
    margin: auto;
    
    .navTitle{
        h1{
            color: $navTextColor;
        }
    }
    .navLinks{
        ul{
            display: flex;
            a{
                margin: 0 1.50rem 0 0;
                color: $navTextColor;
                font-size: 0.85rem;
            }
            a:hover{
                color: rgb(40, 133, 255);
                transition: all 250ms;
            }
            a:not(:hover){
                transition: all 250ms;
            }
        }
    }
}
@media (max-width: 500px) {
    nav{
        flex-direction: column;
        .navTitle{
            margin-bottom: 1rem;
        }
    }
}
@media (max-width:455px) {
    nav{
        .navLinks{
            ul{
                a{
                    font-size: 0.75rem;
                }
            }
        }
    }
}