<section class="contactsContainer">
    <section class="contactsTitle">
        <h1>Contatos</h1>
    </section>
    <section class="contactsButtons">
        <a href="https://www.linkedin.com/in/fellype-souza-32a083261/" target="_blank"><button class="contactBtn">Linkedin</button></a>
        <a href="https://github.com/FellypeSouza" target="_blank"><button class="contactBtn">Github</button></a>
        <a href="mailto:fellypedev22@gmail.com" target="_blank"><button class="contactBtn">Email</button></a>
    </section>
</section>